{% extends 'base.html' %}

{% block title %}Exemple d'authentification{% endblock %}


{% block content %}
<h1>Exemple d'authentification</h1>

<p>
Un exemple d'authentification en <a href="https://flask.palletsprojects.com/">flask</a> avec le framework CSS <a href="https://bulma.io">bulma</a> pour le front-end.
</p>
<p> On a voulontairement choisi d'utiliser <a href="https://flask-mysqldb.readthedocs.io/">flask_mysqldb</a> afin de faire les transactions sur la base de donnée "à la main".</p>
<p> Un projet non pédagogique choisirai probablement un ORM du type <a href="https://www.sqlalchemy.org/">SQLalchemy</a>.</p>
<p> L'utilisateur <code>test</code> a pour mot de passe <code>test</code>
{% endblock %}