{% extends 'base.html' %}

{% block title %}Créer un compte{% endblock %}


{% block content %}
<h1> Créer un compte </h1>
  <form method="post">
  <div class="field">
  <label class="label">Nom d'utilisateur</label>
    <p class="control">
      <input class="input" name="username" id="username" placeholder="Nom d'utilisateur" required>
    </p>
  </div>

  <div class="field">
    <p class="control ">
      <label class="label">Mot de passe</label>
      <input class="input" type="password" name="password" id="password" required placeholder="mot de passe">
    </p>
  </div>

  <div class="field">
    <p class="control">
      <button class="button is-success" type="submit">
        Créer un compte
      </button>
    </p>
  </div>
</form>
{% endblock %}